<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>HttpAndTemplate</title>
    </head>
    <body>
        Request Method: {{.Method}}
        Url: {{.Url}}
        Host: {{.Host}}
        ContentLength: {{.ContentLength}}

        <p><strong>Submissions:</strong></p>
        {{if .Submissions}}
            {{range $k, $v := .Submissions}}
                <p>key: {{$k}}</p>
                <ul>{{range $v}}
                        <li>value:{{.}}</li>
                    {{end}}</ul>
            {{end}}
        {{end}}

        <p><strong>Header:</strong></p>
        {{if .Header}}
            {{range $k, $v := .Header}}
                <p>key: {{$k}}</p>
                <ul>{{range $v}}
                    <li>value:{{.}}</li>
                {{end}}</ul>
            {{end}}
        {{end}}



        <form action="/?fname=Mel" id="simpleForm" method="POST">
            <input type="text" id="fname" name="fname"/>
            <input type="submit" name="sbutton">
        </form>

    </body>
</html>
