<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
    Hotel: {{.Name}}
    Address: {{.Address.Name}} - {{.Address.Street}} - {{.Address.House}}
    City: {{.City}}
    Zip: {{.Zip}}
    Region {{.Region}}
{{end}}

</body>
</html>