<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Hello World</title>
</head>
<body>
<ul>
    {{range $_, $h := .Houses}}
        <li>{{uc $h.Name}} - {{uc $h.Mark}}</li>
    {{end}}

    {{range .ValyrianSwords}}
        <li>{{ft .Name}} - {{ft .Owner}}</li>
    {{end}}
</ul>
</body>
</html>
